.nav {
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  padding: 12px;
  color: darkblue;
  background: orange;
}

.photos {
  height: 120px;
  width: 120px;
}

.photo-list {
  list-style-type: none;
}

.photo-show {
  height: 240px;
  width: 240px;
}

.courses {
  align-content: center;
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  padding: 12px;
  color: darkblue;
}

.courses a:hover {
  cursor: pointer;
  color: orange;
}
