.nav {
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  padding: 12px;
  color: darkblue;
  background: orange;
}

.photos {
  height: 120px;
  width: 120px;
}

li {
  list-style-type: none;
}

.photo-show {
  height: 240px;
  width: 240px;
}
