.nav {
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  padding: 12px;
  color: darkblue;
  background: orange;
}

.photo-square {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  overflow: hidden
}

.photos {
  position: absolute;
  height: 80%;
  width: 90%;
  padding: 10% 5%;
}

.photo-desc {
  font-size: 16px;
  font-weight: bolder;
  color: orange;
}

.photo-top {
  height: 50%;
  width: 50%;
}

.photo-top-text {
  height: 50%;
  width: 50%;
}

.courses {
  align-content: center;
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  padding: 12px;
  color: darkblue;
}

.courses a:hover {
  cursor: pointer;
  color: orange;
}

.right {
  border: solid black;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  border: solid black;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
